<lasso-page package-path="./browser.json" />
<layout-use('~/lib/layouts/default.marko')>
  <layout-put into="body">
    <p>
      To see a page that includes Bootstrap from a CDN via Lasso dependencies,
      goto <a href="/one">/one</a>.
    </p>
  </layout-put>
</layout-use>
