<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hapi + Marko + Lasso</title>
  <lasso-head />
</head>
<body>
  <layout-placeholder name="body">
    There should be something more here.
  </layout-placeholder>
  <lasso-body />
</body>
</html>
